<html lang="en">

  <%- include('./partials/head.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <body>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    
  </body>
</html>